html, body {
    margin: 0;
    padding: 0;
}

html {
    font-family: monospace;
}

.whitespace p {
    white-space: pre;
    margin: 0;
}

#input {
    min-height: 10em;
    background-color: yellow;
}
